@model BusinessObject.Member

@{
    ViewData["Title"] = "Create Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select id="Country" asp-for="Country" class="form-control"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select id="City" asp-for="City" class="form-control"></select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Confirm" class="control-label">Confirm</label>
                <input id="Confirm" name="Confirm" class="form-control" type="password" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Error
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    var countries = ["Chọn thành phố","Pháp", "Việt Nam", "Mỹ", "Đức"];
    var cities = {
        "Chọn thành phố": ["Vui lòng chọn thành quốc gia"],
        "Pháp": ["Paris", "Marseille", "Lyon"],
        "Việt Nam": ["Hà Nội", "Hồ Chí Minh", "Đà Nẵng"],
        "Mỹ": ["New York", "Los Angeles", "Chicago"],
        "Đức": ["Berlin", "Munich", "Hamburg"]
    };

    var countryDropdown = document.getElementById("Country");
    for (var i = 0; i < countries.length; i++) {
        var option = document.createElement("option");
        option.value = countries[i];
        option.text = countries[i];
        countryDropdown.appendChild(option);
    }

    countryDropdown.addEventListener("change", function () {
        var selectedCountry = this.value;
        var cityDropdown = document.querySelector("#City");
        cityDropdown.innerHTML = ""; 

        for (var i = 0; i < cities[selectedCountry].length; i++) {
            var option = document.createElement("option");
            option.value = cities[selectedCountry][i];
            option.text = cities[selectedCountry][i];
            cityDropdown.appendChild(option);
        }
    });
</script>
