@using System.Security.Claims
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse justify-content-between">
               
                        @if (User.Identity.IsAuthenticated)
                        {

                           
                            @if (User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Email)).Value.Equals("admin@estore.com"))
                            { // Admin
                              
                            <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

                                <div class="container">
                                    <a class="navbar-brand" asp-controller="Member" asp-action="Index">Admin<span></span></a>

                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="navbarsFurni">
                                        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                                  
                                            <li> <a class="nav-link text-dark" asp-controller="Member" asp-action="Index">Member Management</a></li>
                                            <li><a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Product Management</a></li>
                                            <li>  <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">Order Management</a></li>
                                            <li>   <a class="nav-link text-dark" asp-controller="Logout" asp-action="Index">Log Out</a></li>
                                        </ul>

                                        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                                         
                                        </ul>
                                    </div>
                                </div>

                            </nav>

                            }
                            else
                            { // User
                               
                            <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

                                <div class="container">
                              
                                    <a class="navbar-brand" asp-controller="Member" asp-action="Index">Estore<span>.FPT</span></a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="navbarsFurni">
                                        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                                           
                                            <li> <a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Shopping</a></li>
                                          
                                            <li>         <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">My Orders</a></li>
                                            <li>   <a class="nav-link text-dark" asp-controller="Logout" asp-action="Index">Log Out</a></li>
                                        </ul>

                                        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                                            <li>          <a class="nav-link text-dark" asp-controller="Member" asp-action="Profile"><img src="images/user.svg"></a></li>
                                            <li>   <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index"><img src="images/cart.svg"></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </nav>
                            }
                        }
                 
                  
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3 pt-7">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Hoàng eStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
